# Server Port (Mặc định: 8900)
PORT=8900

# Chế độ môi trường (development/production)
GIN_MODE=release

# Cấu hình thông báo Telegram
TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_CHAT_ID=your_chat_id_here
